pipeline/02_Copy_ForEachFtp_GetFilesFileSystem.json
{
	"name": "02_Copy_ForEachFtp_GetFilesFileSystem",
	"properties": {
		"activities": [
			{
				"name": "ValidationFileSystem",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_FileSystem_DelimitedText_Validate",
						"type": "DatasetReference",
						"parameters": {
							"host": {
								"value": "@pipeline().parameters.HOST_CD",
								"type": "Expression"
							},
							"user": {
								"value": "@pipeline().parameters.USER_CD",
								"type": "Expression"
							},
							"akv_name": {
								"value": "@pipeline().parameters.AZURE_KEY_VAULT_NAME_CD",
								"type": "Expression"
							},
							"akv_secret_pwd": {
								"value": "@pipeline().parameters.SECRET_PWD_CD",
								"type": "Expression"
							},
							"file_path": {
								"value": "@pipeline().parameters.FILE_PATH_CD",
								"type": "Expression"
							}
						}
					},
					"timeout": "0.00:01:00",
					"sleep": 10
				}
			},
			{
				"name": "GetLastModified",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "ValidationFileSystem",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_FileSystem_DelimitedText_Validate",
						"type": "DatasetReference",
						"parameters": {
							"host": {
								"value": "@pipeline().parameters.HOST_CD",
								"type": "Expression"
							},
							"user": {
								"value": "@pipeline().parameters.USER_CD",
								"type": "Expression"
							},
							"akv_name": {
								"value": "@pipeline().parameters.AZURE_KEY_VAULT_NAME_CD",
								"type": "Expression"
							},
							"akv_secret_pwd": {
								"value": "@pipeline().parameters.SECRET_PWD_CD",
								"type": "Expression"
							},
							"file_path": {
								"value": "@pipeline().parameters.FILE_PATH_CD",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists",
						"lastModified",
						"childItems",
						"itemName"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true,
						"modifiedDatetimeStart": {
							"value": "@pipeline().parameters.LAST_EXTRACTED_TS",
							"type": "Expression"
						},
						"modifiedDatetimeEnd": {
							"value": "@pipeline().parameters.CURRENT_EXTRACTED_TS",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "SetPipelineReturnValue",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetLastModified",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "child_items",
							"value": {
								"type": "Expression",
								"content": "@activity('GetLastModified').output.childItems"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"parameters": {
			"LAST_EXTRACTED_TS": {
				"type": "string",
				"defaultValue": "2022-11-21 09:00:00.0"
			},
			"CURRENT_EXTRACTED_TS": {
				"type": "string"
			},
			"HOST_CD": {
				"type": "string",
				"defaultValue": "\\\\nasto4\\ASCOLTIONLINE\\"
			},
			"USER_CD": {
				"type": "string",
				"defaultValue": "rai\\srvascolti"
			},
			"SECRET_PWD_CD": {
				"type": "string",
				"defaultValue": "var-nasto4-ao-pwd"
			},
			"AZURE_KEY_VAULT_NAME_CD": {
				"type": "string",
				"defaultValue": "akv-ao-pov"
			},
			"FILE_PATH_CD": {
				"type": "string",
				"defaultValue": "FullDayByViewing"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-11-22T17:42:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}